* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 10px; /* Значение полей */
    align: center;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    height: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh; /*высота футера будет зависеть от высоты экрана*/
    height: 70px
}
body,html {
    min-height: 100vh;
    background-color: #fff;
}

/*----------------------------*\
	product
\*----------------------------*/

.product {
    position: relative;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product:hover {
    -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
    box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.product .product-img {
    position: relative;
}

.product .product-img>img {
    width: 100%;
}

.product .product-img .product-label {
    position: absolute;
    top: 15px;
    right: 15px;
}

.product .product-img .product-label>span {
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
}

.product .product-img .product-label>span.sale {
    background-color: #FFF;
    border-color: #D10024;
    color: #D10024;
}

.product .product-img .product-label>span.new {
    background-color: #D10024;
    border-color: #D10024;
    color: #FFF;
}

.product .product-body {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    z-index: 20;
}

.product .product-body .product-category {
    text-transform: uppercase;
    font-size: 12px;
    color: #8D99AE;
}

.product .product-body .product-name {
    text-transform: uppercase;
    font-size: 18px;
}

.product .product-body .product-name>a {
    font-weight: 700;
}

.product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
    color: #D10024;
}

.product .product-body .product-price {
    color: #D10024;
    font-size: 18px;
}

.product .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}

.product .product-body .product-rating {
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}

.product .product-body .product-rating>i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 10;
}

.product .product-body .product-rating>i.fa-star {
    color: #ef233c;
}

.product .product-body .product-rating:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #E4E7ED;
}

.product .product-body .product-btns>button {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
    background-color: #E4E7ED;
    color: #D10024;
    border-radius: 50%;
}

.product .product-body .product-btns>button .tooltipp {
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
    width: 150px;
    padding: 10px;
    font-size: 12px;
    line-height: 10px;
    background: #1e1f29;
    color: #FFF;
    text-transform: uppercase;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -5px);
    -ms-transform: translate(-50%, -5px);
    transform: translate(-50%, -5px);
}

.product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    background: #1e1f29;
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
}

.product:hover .add-to-cart {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
}

.product .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
}

header li,
header a,
header button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none !important;
}

header a:hover {
    color: #D10024;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
    position: sticky; /* Added for making nav sticky */
    top: 0; /* Added for making nav sticky */
    z-index: 999;
}

header ul li {
    list-style-type: none;
    padding: 10px;
}

header ul li ul {
    width: 160px;
    visibility: hidden;
    position: absolute;
    list-style: none;
    text-align: left;
    top: 0px;
    left: 0px;
    transform: translate3d(-15px, 45px, 0px);
}

header ul li ul li a {

    color: black;
}

header ul li ul li a:hover {

    color: #D10024;
    text-decoration: none;
}

header ul li ul li {
    padding: 10px;
    text-align: center;
}

.fa-caret-down {
    padding-left: 10px;
}

header ul li:hover ul {

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: visible;
    position: absolute;
    margin: 0 auto;
    background-color: #f4ffff;
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.content p:not(:last-child) {
    margin-bottom: 20px;
}


header button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

header button:hover {
    background-color: #D10024;
}

.title {
    min-height: 150px;
}

.title h1 {
    line-height: 150px;
    color: white;
}

#my_nav {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 5px 15px;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
}

#my_nav .nav-divider {
    background-color: #000;
}

.side-menu ul li ul {
    color: white;
    padding: 5px 5px 5px 0;
}

.side-menu ul li:first-child {
    margin-left: 0;
    padding: 0;
}

.side-menu .filter {
    margin-left: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.69);
}


.side-menu ul li {
    padding: 5px 5px 5px 20%;
}

#my_filter {
    width: 100%;
}

#my_filter li {
    width: 100%;
    padding: 5px 5px 5px 0%;
}

.side-menu ul li ul li {
    list-style: none;
}

#my_nav a {
    text-decoration: none;
    color: white;
}

#my_nav a:hover {
    color: black;
}

.pd {
    padding: 30px;
}

.pd-10 {
    padding: 10px;
}

.one-product {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 1px solid #D10024;;
}

.thumbnail .name-product {
    min-height: 75px;
    border-bottom: 1px solid #D10024;;
    border-top: 1px solid #D10024;;
}

.thumbnail .characteristics {
    min-height: 70px;
    border-bottom: 1px solid #D10024;;
}

.thumbnail a {
    text-decoration: none;
    color: black;
}

.thumbnail a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.thumbnail .btn {
    margin-right: 10px;
    margin-bottom: 10px;

}

.thumbnail .btn {
    text-decoration: none;
    color: white;
}