* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

body {
    background-color: #fff;
}
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 10px; /* Значение полей */
    align: center;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    height: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh; /*высота футера будет зависеть от высоты экрана*/
    height: 70px
}

.wrap {
    min-height: 520px;
}

.h-50 {
    margin: 5% 0;
}

header li,
header a,
header button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none !important;
}

header a:hover {
    color: #D10024;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
    position: sticky; /* Added for making nav sticky */
    top: 0; /* Added for making nav sticky */
    z-index: 999;
}

header ul li {
    list-style-type: none;
    padding: 10px;
}

header ul li ul {
    width: 160px;
    visibility: hidden;
    position: absolute;
    list-style: none;
    text-align: left;
    top: 0px;
    left: 0px;
    transform: translate3d(-15px, 45px, 0px);
}

header ul li ul li a {

    color: black;
}

header ul li ul li a:hover {

    color: #D10024;
    text-decoration: none;
}

header ul li ul li {
    padding: 10px;
    text-align: center;
}

.fa-caret-down {
    padding-left: 10px;
}

header ul li:hover ul {

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: visible;
    position: absolute;
    margin: 0 auto;
    background-color: #f4ffff;
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.content p:not(:last-child) {
    margin-bottom: 20px;
}

.logo {
    cursor: pointer;
}
.reviews li {
    position: relative;
    padding-left: 145px;
    margin-bottom: 30px;
}

.reviews .review-heading {
    position: absolute;
    width: 130px;
    left: 0;
    top: 0;
    height: 70px;
}

.reviews .review-body {
    min-height: 70px;
}

.reviews .review-heading .name {
    margin-bottom: 5px;
    margin-top: 0px;
}

.reviews .review-heading .date {
    color: #8D99AE;
    font-size: 10px;
    margin: 0;
}

.reviews .review-heading .review-rating {
    margin-top: 5px;
}

.reviews .review-heading .review-rating>i {
    color: #E4E7ED;
}

.reviews .review-heading .review-rating>i.fa-star {
    color: #D10024;
}

.reviews-pagination {
    text-align: center;
}

.reviews-pagination li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.reviews-pagination li:hover {
    background-color: #E4E7ED;
    color: #D10024;
}

.reviews-pagination li.active {
    background-color: #D10024;
    border-color: #D10024;
    color: #FFF;
    cursor: default;
}

.reviews-pagination li a {
    display: block;
}

 .review-link {
    font-size: 12px;
}

.product-rating {
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}

.product-rating>i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 10;
}

.product-rating>i.fa-star {
    color: #ef233c;
}

.product-rating:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #E4E7ED;
}
/*-- Review Form --*/

.review-form .input {
    margin-bottom: 15px;
}

.review-form .input-rating {
    margin-bottom: 15px;
}

.review-form .input-rating .stars {
    display: inline-block;
    vertical-align: top;
}

.review-form .input-rating .stars input[type="radio"] {
    display: none;
}

.review-form .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
}

.review-form .input-rating .stars>label:before {
    content: "\f006";
    font-family: FontAwesome;
    color: #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
    color: #D10024;
}

.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
    content: "\f005";
    color: #D10024;
}

header button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

header button:hover {
    background-color: #D10024;
}

.title {
    min-height: 150px;
}

.title h1 {
    line-height: 150px;
    color: white;
}

#my_nav {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 5px 15px;
}

#my_nav .nav-divider {
    background-color: #000;
}

.side-menu ul li ul {
    margin-left: 20%;
}

.side-menu ul li:first-child {
    margin-left: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.69);
}

.side-menu ul li {
    padding: 5px;
    margin-left: 20%;
}

.side-menu ul li ul li {
    list-style: none;
}

#my_nav a {
    text-decoration: none;
    color: white;
}

#my_nav a:hover {
    color: black;
}

.pd {
    padding: 30px;
}

.pd-10 {
    padding: 10px;
}

.carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

.item .thumb img {
    width: 100%;
    margin: 2px;
}

.item img {
    width: 100%;
}

.title-product {
    color: white;
    background: black;
    padding: 20px;
}

.footerTable {
    background: #78747461;
    color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #dc3545;
}

.nav a {
    color: #000000;
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.75);
    background-color: ghostwhite;
}

.profile-border {
    padding: 3%;
    border-bottom: 1px solid #D10024;;
}

.name-profile {
    font-size: 20px;
    font-weight: 600;
    color: r#D10024;;
}