<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${category!=null}? ${category.nameCategory} :'Каталог'"></title>

    <div th:replace="fragments/header :: header-css"></div>
    <link th:href="@{/css/catalogStyle.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main">
    <div class="container-fluid">
        <section class="container pd">
            <div class="row">
                <div class="col-md-3 side-menu">
                    <ul id="my_nav" class="nav">
                        <li class="nav-header filter col-md-12">
                            <h3 class="text-white">Каталог</h3>
                        </li>
                        <li th:each="category:${categories}" class="col-md-12">
                            <a th:href="@{/catalog(categoryId=${category.id})}">[[${category.nameCategory}]]</a>
                        </li>
                        <li th:if="${characts != null}" class="nav-header filter col-md-12">
                            <h3 class="text-white">Фильтр</h3>
                        </li>
                        <form id="my_filter" class="col-md-12">
                            <li th:if="${characts != null}" th:each="items:${characts}" class="col-md-12">
                                [[${items.nameCharacteristic}]]
                            <ul class="col-md-12" th:each="item, iStat:${items.characteristicValues}">

                                    <input type="checkbox" id="characteristic" name="characteristic"
                                           th:value="${item.getId()}">
                                    <span>[[${item.valueCharacteristic}]]</span>
                                </ul>
                            </li>
                        </form>
                    </ul>
                </div>
                <div class="col-md-9">
                    <span id="feedback" class="row"></span>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/filter.js"></script>

</body>
</html>