<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <link th:href="@{/css/goodStyle.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid" style="padding: 0;">
</div>
    <form th:action="@{/updateOrder}" method="post" th:object="${order}"
          style="padding: 10px;"
          enctype="multipart/form-data">
        <label>Введите количество:</label>
                <input type="number"
                       th:value="${order.countOrder}" name="priceProduct"
                       min="1"
                       placeholder="Количество"
                       required="required"/>
        <div class="form-group">
            <input type="submit" value="Изменить" class="btn float-right login_btn">
        </div>
    </form>
</body>
</html>