<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>


    <div th:replace="fragments/header :: header-css"></div>

    <link th:href="@{/css/goodStyle.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrap pd-10">
    <div class="row">
        <h3 class="m-auto col-md-8 pd-10 text-center pd-5"
            th:text="${characteristicValue==null}?'Изменение данных о категории':'Изменение данных о характеристике'"></h3>
        <form class="m-auto col-md-8 pd-10" th:if="${characteristicValue!=null}" th:action="@{/edit-characteristic}"
              method="post" th:object="${characteristicForm}" enctype="multipart/form-data">
            <input th:value="${characteristicValue.id}" name="id" type="hidden">
            <div class="input-group form-group">
                <input type="text"
                       th:class="${#fields.hasErrors('characteristic.nameCharacteristic')}?'form-control is-invalid':'form-control'"
                       th:value="${characteristicValue.characteristic.nameCharacteristic}" name="characteristic.nameCharacteristic"
                       id="nameCharact" min="1" max="40"
                       placeholder="Нaзвание"
                       required="required"/>
                <div th:if="${#fields.hasErrors('characteristic.nameCharacteristic')}" th:errors="*{characteristic.nameCharacteristic}"
                     class="invalid-feedback"></div>
            </div>
            <div class="input-group form-group">
                <input type="text"
                       th:class="${#fields.hasErrors('valueCharacteristic')}?'form-control is-invalid':'form-control'"
                       th:if="characteristic!=null" th:value="${characteristicValue.valueCharacteristic}"
                       name="valueCharacteristic"
                       id="nameValue" min="1" max="40"
                       placeholder="Значение"
                       required="required"/>
                <div th:if="${#fields.hasErrors('valueCharacteristic')}" th:errors="*{valueCharacteristic}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label>Выберите Категорию:</label>
                <select class="form-control" th:if="characteristicValue!=null" name="category" th:field="*{characteristic.category.id}">
                    <option value="-1">Выберите...</option>
                    <option th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.nameCategory}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn float-right login_btn">
            </div>
        </form>
        <form class="m-auto col-md-8 pd-10" th:if="${category!=null}" th:action="@{/edit-category}" method="post"
              th:object="${categoryForm}" enctype="multipart/form-data">
            <input th:value="${category.id}" name="id" type="hidden">
            <div class="input-group form-group">
                <input type="text"
                       th:class="${#fields.hasErrors('nameCategory')}?'form-control is-invalid':'form-control'"
                       th:value="${category.nameCategory}" name="nameCategory"
                       id="nameCategory" min="1" max="40"
                       placeholder="Нaзвание"
                       required="required"/>
                <div th:if="${#fields.hasErrors('nameCategory')}" th:errors="*{nameCategory}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn float-right login_btn">
            </div>
        </form>
    </div>
</div>
</body>
</html>