<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${product!=null}? ${product.nameProduct} :'Ошибка'"></title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>

    <div th:replace="fragments/header :: header-css"></div>

    <link th:href="@{/css/goodStyle.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">

        <section class="container pd">
            <div class="row">
                <div class="col-md-3 side-menu">
                    <ul id="my_nav" class="nav">
                        <li class="nav-header col-md-12">
                            <h3 class="text-white">Каталог</h3>
                        </li>
                        <li th:each="category:${categories}" class="col-md-12">
                            <a th:href="@{/catalog(categoryId=${category.id})}">[[${category.nameCategory}]]</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                                        <img th:src="@{'https://res.cloudinary.com/elmart/'+${product.photo.image}}"
                                             class="pd-10 w-100" height="300">
                        </div> <!-- /col-sm-6 -->
                        <div class="col-md-6">
                            <form method="post" id="add_form_cart"
                                  th:action="@{/add(productId=${product.id})}"
                                  style="display:inline;">
                            <h3 class="title-product">[[${product.nameProduct}]]</h3>
                            <div>
                                <div>
                                    <h3>[[${product.rating}]]
                                  <i style="color: #D10024" class="fa fa-star"></i></h3>
                                </div>
                                <a class="review-link" href="#reviews">Add your review</a>
                            </div>
                            <h3 class="text-center">Описание</h3>
                            <div class="pd-10">
                                <p>[[${product.descriptionProduct}]] </p>
                            </div>
                                <input type="hidden" name="count" th:value="1">
                            <button class="btn btn-success btn-product float-right"
                                    style="padding: 10px" name="add_home_cart" type="submit">В корзину
                            </button>
                            </form>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center">Характеристики</h3>
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Название характеристики</th>
                                <th>Значение</th>
                            </tr>
                            </thead>
                            <tr th:each="charact:${product.characteristics}">
                                <td th:utext="${charact.characteristic.nameCharacteristic}"></td>
                                <td th:utext="${charact.valueCharacteristic}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            <div class="row">
            <div class="col-md-8">
                <div id="reviews">
                    <ul class="reviews">
                        <li th:each="comment:${comments}">
                            <div class="review-heading">
                                <h5 class="name" th:utext="${comment.person.loginPerson}"></h5>
                                <p class="date"></p>
                                <div th:if="${comment.rating}==0" class="review-rating">
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div th:if="${comment.rating}==1" class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div th:if="${comment.rating}==2" class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div th:if="${comment.rating}==3" class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div th:if="${comment.rating}==4" class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div th:if="${comment.rating}==5" class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="review-body" th:utext="${comment.commentValue}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" >
                    <div id="review-form">
                        <form  th:action="@{/addComment}" method="post" th:object="${newComment}" class="review-form">
                            <div class="input-group form-group">
                                <input type="hidden" th:field="*{product}" th:value="newComment.product">
                                <textarea type="text" class="form-control" th:field="*{commentValue}" name="comment"
                                       id="comment" min="1" max="240"
                                       placeholder="Комментарий"
                                          required="required"/>
                            </div>
                            <div class="input-rating">
                                <span>Ваша оценка: </span>
                                <div class="stars">
                                    <input id="star5" th:field="*{rating}" name="rating" value="5" type="radio"><label for="star5"></label>
                                    <input id="star4" th:field="*{rating}" name="rating" value="4" type="radio"><label for="star4"></label>
                                    <input id="star3" th:field="*{rating}" name="rating" value="3" type="radio"><label for="star3"></label>
                                    <input id="star2" th:field="*{rating}" name="rating" value="2" type="radio"><label for="star2"></label>
                                    <input id="star1" th:field="*{rating}" name="rating" value="1" type="radio"><label for="star1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Добавить" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script th:if="${newComment.getRating()==5}">document.getElementById("star5").checked = true;</script>
<script th:if="${newComment.getRating()==4}">document.getElementById("star4").checked = true;</script>
<script th:if="${newComment.getRating()==3}">document.getElementById("star3").checked = true;</script>
<script th:if="${newComment.getRating()==2}">document.getElementById("star2").checked = true;</script>
<script th:if="${newComment.getRating()==1}">document.getElementById("star1").checked = true;</script>

</body>
</html>