<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <section class="col-md-12" style="padding: 0;">
            <div class="owl-carousel">
                <div class="item">
                    <img class="logo"
                         th:src="@{https://res.cloudinary.com/elmart/image/upload/v1620808176/annie-spratt-473657-unsplash_dydwks.jpg}"
                         alt="operat">
                </div>
                <div class="item">
                    <img class="logo"
                         th:src="@{https://res.cloudinary.com/elmart/image/upload/v1620804425/6d0ab8ece2cd75f5681dc1919eb2d576_pveixu.jpg}"
                         alt="proc">
                </div>
                <div class="item">
                    <img class="logo"
                         th:src="@{https://res.cloudinary.com/elmart/image/upload/v1620808536/357810919cb78e51b66e2c59f64970a8_buqlym.png}"
                         alt="proc">
                </div>
            </div>
        </section>

        <section class="advantages-section col-md-12">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img th:src="@{https://res.cloudinary.com/elmart/image/upload/c_scale,w_200/v1620812713/podarok_xqhjaz.png}"
                                     class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="vertical-align: center">
                                    <p class="card-text"
                                       style="font-size: large; vertical-align: center; align-self: center">При покупке
                                        любого телефона SAMSUNG A51 Вы получите
                                        подписку на музыкальный сервис Hip-Hope!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img th:src="@{https://res.cloudinary.com/elmart/image/upload/v1620812691/dostav_2h_m2qpgl.png}"
                                     class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text"
                                       style="font-size: large; vertical-align: center; align-self: center">Доставка
                                        производится в течение суток, по Минску -
                                        бесплатно при покупке от 150 руб.! Купленные товары будут доставлены в
                                        любой город
                                        Беларуси!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-section col-md-12">
            <div class="row">
                <div class="col-md-12"><h1 class="text-center">Топ товаров</h1></div>
                <div class="col-md-3 col-xs-8" th:each="product:${products}">
                    <div class="product">
                        <div class="product-img">
                            <a th:href="@{/catalog/good(productId=${product.id})}">
                                <img th:src="@{'https://res.cloudinary.com/elmart/'+${product.photo.image}}"
                                     class="pd-10 w-100" height="200">
                            </a>
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a th:href="@{/catalog/good(productId=${product.id})}" style="color: black">
                                    [[${product.nameProduct}]]
                                </a>
                            </h2>
                            <h4 class="product-price">
                                <label>[[${product.priceProduct}]] РУБ</label>
                            </h4>

                            <label class="badge badge-primary text-wrap" style="background-color: black"
                                   th:text="${#numbers.formatDecimal(product.priceProduct/currency,0,2)}+' USD'"></label>
                            <h3>[[${product.rating}]]
                                <i style="color: #D10024" class="fa fa-star"></i></h3>
                        </div>
                        <form method="post" id="add_form_cart"
                              th:action="@{/add(productId=${product.id})}"
                              th:object="${product}"
                              style="display:inline;">
                            <input type="hidden" name="count" th:value="1">

                            <div class="add-to-cart">
                                <button class="add-to-cart-btn" type="submit"><i
                                        class="fa fa-shopping-cart"></i> В
                                    корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-section col-md-12"></section>

    </div>
</div>

<script src="/js/notification.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>