<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragments/header :: header-css"></div>

    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container wrap">
    <div class="d-flex justify-content-center h-100 col-md-12">
        <div class="card col-md-6">
            <div class="card-header">
                <h3 class="text-center">Войти</h3>
            </div>
            <div th:if="${message!=null}" th:class="${isActivated}?'alert alert-info':'alert alert-danger'">
                [[${message}]]
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Некорректный пароль или логин.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Вы разлогинились.
                </div>
            </div>
            <div class="card-body mt-4">
                <form th:action="@{/login}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="username" id="username" min="1" max="40"
                               placeholder="логин"
                               required="required"/>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" min="2" max="40" name="password" id="password"
                               placeholder="пароль" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    У вас нет аккаунта на сайте?<a th:href="@{/registration}">Зарегистрируйтесь</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>