<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>


    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <link th:href="@{/css/goodStyle.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid" style="padding: 0;">
</div>
<div class="container wrap">

    <div th:if="${orders.size()==0 and closed.size()==0}" class="alert alert-info h-50" role="alert">
        Вы еще не совершали заказы.
    </div>
    <table th:if="${orders.size()!=0}" class="table table-striped col-md-12 mt-5 cl-w">
        <thead class="thead-inverse">
        <tr>
            <th>Товары</th>
            <th class="text-center">Цена</th>
            <th>Количество</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tr th:each="order:${orders}">
            <td th:utext="${order.getProduct().getNameProduct()} "></td>
            <td class="text-center" th:utext="${order.getProduct().priceProduct*order.getCountOrder()} +' РУБ | '
            + ${#numbers.formatDecimal(order.getProduct().priceProduct*order.getCountOrder()/currency,0,2)}+' USD'"></td>
            <td th:utext="${order.countOrder}"></td>
            <td th:if="${order.getStatus().toString().equals('IN_PROCESSING')}">В ожидании оплаты</td>
            <td th:if="${order.getStatus().toString().equals('EXECUTED')}">Исполняется</td>
            <td>
                <span th:if="${order.status.toString().equals('IN_PROCESSING')}">
                    <a th:href="${order.url}">
                            <button class="btn btn-info" style="padding: 5px 10px" type="button"><i
                                    class="fa fa-money"></i></button>
                        </a>
                        </span>
            </td>
        </tr>
        <tr th:each="close:${closed}">
            <td th:utext="${close.getProduct().getNameProduct()} "></td>
            <td class="text-center" th:utext="${close.getProduct().priceProduct*close.getCountOrder()} +' РУБ | '
            + ${#numbers.formatDecimal(close.getProduct().priceProduct*close.getCountOrder()/currency,0,2)}+' USD'"></td>
            <td th:utext="${close.countOrder}"></td>
            <td th:if="${close.getStatus().toString().equals('ARCHIVED')}">Завершен</td>
        </tr>
    </table>
</div>
</body>
</html>