<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ElMart</title>
    <link rel="icon" th:href="@{https://res.cloudinary.com/elmart/image/upload/v1620811942/favicon_tehkmb.ico}"/>

</head>
<body>
<label>Choose Date of begin:</label>
<input type="date" name="calendar" value=min>
<br>
<label>Choose executor:</label>
<table align = "center" class="table table-bordered">
    <div class="col-lg-4 offset-4">
        <th:forEach var="executors" items="${executors}">
            <tr>
                <td>
                    <input type="radio" class="radio-btn" name="order_id" value="${executors.order_id}"/>
                </td>
                <td>ID: ${executors.id} Executor: ${executors.name} ${executors.surname} <br>
                    Price: ${executors.price} BYN Duration: ${executors.duration} h
                </td>
            </tr>
            <tr></tr>
        </th:forEach>
    </div>
</table>
<br>
<label>Write your name:</label>
<input name="customer" type="text" pattern="[a-zA-Zа-яА-Я]*$"/>
<br>
<br>
<br>
<input type="submit" onclick="redirectById('/create')" value="Create" />
</form>
</body>
</html>